@import 'variables';
@import 'mixins';

body{
    font-family: $p-font;
    height: 1000px;
    margin: 0;
    @include anchor;
}

.flex{
    display: flex;
}


.navigation{
    font-family: $primary-font, serif;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: white;

    .flex{
        @include flexCenter;
        justify-content: space-between;
        margin: 1rem 2rem;
    }
    
    .brand{
        font-weight: normal;
    }

    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    ul li{
        padding: 0;
        display: inline;
        margin-right: 1rem;
    }

}


header{
    font-family: $primary-font;
    height: 100vh;
    display: flex;
    @include flexCenter;
    border: 1px solid red;
    h1{
        font-size: 6rem;
        text-align: center;
        margin-top: -5rem;
    }
}

